.sanhaua {
  .form-element-wrapper {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
    font-family: $font-family;

    .label {
      cursor: pointer;

      @include button-2;
    }

    .ua-input-email {
      display: flex;
      align-items: center;
      justify-content: center;
      outline-width: map.get($border-width, "medium");
      outline-style: solid;
      cursor: text;

      @include body-1;

      .field {
        flex: 1;
        width: 100%;
        font: inherit;
        border: none;
      }

      .prefix,
      .suffix {
        display: flex;
        align-items: center;
        justify-content: center;

        @include body-2;
      }

      &.small {
        padding: spacing(1);
        gap: spacing(1);

        .icon {
          font-size: 20px;
        }
      }

      &.medium {
        padding: spacing(2);
        gap: spacing(2);

        .icon {
          font-size: 22px;
        }
      }

      &.large {
        padding: spacing(3);
        gap: spacing(2);

        .icon {
          font-size: 24px;
        }
      }

      &.square {
        border-radius: map.get($border-radius, "small");
      }

      &.round {
        border-radius: map.get($border-radius, "pill");
      }

      &.auto {
        width: inherit;
      }

      &.full {
        width: 100%;
      }

      &:focus-within {
        outline-width: map.get($border-width, "large");
        outline-offset: calc(-1 * map.get($border-width, "small"));
        outline-style: solid;

        .field {
          outline: none;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: map.get($opacity, "high");
      user-select: none;

      & * {
        cursor: not-allowed;
        opacity: map.get($opacity, "high");
      }
    }
  }
}
