$color-success-light: (
  "100": #daf9c4,
  "200": #c1f59d,
  "300": #a4f071,
  "400": #8aeb49,
  "500": #70e610,
  "600": #5ed500,
  "700": #42bf00,
  "800": #1cab00,
  "900": #080
);
$color-warning-light: (
  "100": #f7f8c0,
  "200": #f2f395,
  "300": #eeee6a,
  "400": #ebeb46,
  "500": #e7e617,
  "600": #e9d50b,
  "700": #e9bd00,
  "800": #eaa400,
  "900": #e87b00
);
$color-danger-light: (
  "100": #fec9cf,
  "200": #ed9494,
  "300": #e26a6b,
  "400": #eb4646,
  "500": #ef3129,
  "600": #e02529,
  "700": #ce1824,
  "800": #c20d1d,
  "900": #b20010
);
$color-informative-light: (
  "100": #dcc2f7,
  "200": #c499f3,
  "300": #ac6cef,
  "400": #9946eb,
  "500": #8410e6,
  "600": #7906df,
  "700": #6a00d7,
  "800": #5b00d2,
  "900": #4300c3
);
