$color-success-light: (
  "100": #dcf9e5,
  "200": #c2eed0,
  "300": #a3e0b7,
  "400": #6db487,
  "500": #388055,
  "600": #276e46,
  "700": #1c5c38,
  "800": #15482b,
  "900": #0c3720
);
$color-warning-light: (
  "100": #fcf0cb,
  "200": #f4e0a6,
  "300": #e8ce7c,
  "400": #bd9f3a,
  "500": #876d00,
  "600": #735c00,
  "700": #5f4c00,
  "800": #4b3b00,
  "900": #3a2d00
);
$color-danger-light: (
  "100": #ffebea,
  "200": #ffd6d6,
  "300": #ffbbbc,
  "400": #f3747c,
  "500": #ba3d4b,
  "600": #a42c3c,
  "700": #8a202f,
  "800": #6e1824,
  "900": #570f1a
);
$color-informative-light: (
  "100": #ebf0ff,
  "200": #d7e0ff,
  "300": #bfcdff,
  "400": #869cf1,
  "500": #5668bb,
  "600": #4657a5,
  "700": #39478c,
  "800": #2c386f,
  "900": #202a58
);
