.sanhaua {
  .ua-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: $font-family;

    &.auto {
      width: fit-content;
    }

    &.full {
      width: 100%;
    }
  }
}
