.sanhaua {
  .ua-button {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: spacing(2);
    border-width: map.get($border-width, "none");

    .text {
      font-family: $font-family;
    }

    &.auto {
      width: fit-content;
    }

    &.full {
      width: 100%;
    }

    &.small {
      padding: spacing(1);

      .text {
        @include body-2-bold;
      }

      .icon {
        @include icon-4;
      }
    }

    &.medium {
      padding: spacing(2);

      .text {
        @include body-1-bold;
      }

      .icon {
        @include icon-1;
      }
    }

    &.large {
      padding: spacing(3);

      .text {
        @include body-1-bold;
      }

      .icon {
        @include icon-1;
      }
    }

    &.square {
      border-radius: map.get($border-radius, "small");
    }

    &.round {
      border-radius: map.get($border-radius, "pill");
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
