.sanhaua {
  .ua-toast {
    display: flex;
    flex-direction: column;
    gap: spacing(5);
    border-radius: map.get($border-radius, "medium");
    padding: spacing(3);
    width: 100%;
    box-sizing: border-box;
    transition:
      transform 0.3s,
      opacity 0.3s;
    transform: translateY(0);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: spacing(2);

        .title {
          @include body-1-bold;
        }
      }

      .icon {
        @include icon-3;
      }

      .dismiss-icon {
        cursor: pointer;

        @include icon-4;
      }
    }

    .content {
      @include body-2;
    }
  }

  &.light {
    .ua-toast {
      &.neutral {
        background-color: map.get($color-neutral-light, "800");
        color: map.get($color-neutral-light, "100");
      }

      &.success {
        background-color: map.get($color-success-light, "100");
        color: map.get($color-success-light, "800");
      }

      &.warning {
        background-color: map.get($color-warning-light, "100");
        color: map.get($color-warning-light, "800");
      }

      &.danger {
        background-color: map.get($color-danger-light, "100");
        color: map.get($color-danger-light, "800");
      }

      &.informative {
        background-color: map.get($color-informative-light, "100");
        color: map.get($color-informative-light, "800");
      }
    }
  }

  &.dark {
    .ua-toast {
      &.neutral {
        background-color: map.get($color-neutral-dark, "800");
        color: map.get($color-neutral-dark, "100");
      }

      &.success {
        background-color: map.get($color-success-dark, "100");
        color: map.get($color-success-dark, "800");
      }

      &.warning {
        background-color: map.get($color-warning-dark, "100");
        color: map.get($color-warning-dark, "800");
      }

      &.danger {
        background-color: map.get($color-danger-dark, "100");
        color: map.get($color-danger-dark, "800");
      }

      &.informative {
        background-color: map.get($color-informative-dark, "100");
        color: map.get($color-informative-dark, "800");
      }
    }
  }
}
