$color-success-dark: (
  "100": #173824,
  "200": #1e4c31,
  "300": #28603e,
  "400": #4b8661,
  "500": #7bb68f,
  "600": #93caa5,
  "700": #aeddbd,
  "800": #c7ead1,
  "900": #def8e6
);
$color-warning-dark: (
  "100": #3c2f00,
  "200": #503f00,
  "300": #645000,
  "400": #8e7519,
  "500": #bea453,
  "600": #d1b96f,
  "700": #e3ce91,
  "800": #eedfb1,
  "900": #fbf0ce
);
$color-danger-dark: (
  "100": #511c21,
  "200": #6d252c,
  "300": #883039,
  "400": #b6545a,
  "500": #ea8488,
  "600": #fc9c9f,
  "700": #ffbbbc,
  "800": #ffd3d3,
  "900": #ffebeb
);
$color-informative-dark: (
  "100": #242d53,
  "200": #313d6f,
  "300": #3f4d8b,
  "400": #6172b8,
  "500": #8ea2ea,
  "600": #a4b7fb,
  "700": #bfcdff,
  "800": #d5dfff,
  "900": #ebf0ff
);
