$color-success-dark: (
  "100": #080,
  "200": #1cab00,
  "300": #42bf00,
  "400": #5ed500,
  "500": #70e610,
  "600": #8aeb49,
  "700": #a4f071,
  "800": #c1f59d,
  "900": #daf9c4
);
$color-warning-dark: (
  "100": #e87b00,
  "200": #eaa400,
  "300": #e9bd00,
  "400": #e9d50b,
  "500": #e7e617,
  "600": #ebeb46,
  "700": #eeee6a,
  "800": #f2f395,
  "900": #f7f8c0
);
$color-danger-dark: (
  "100": #b20010,
  "200": #c20d1d,
  "300": #ce1824,
  "400": #e02529,
  "500": #ef3129,
  "600": #eb4646,
  "700": #e26a6b,
  "800": #ed9494,
  "900": #fec9cf
);
$color-informative-dark: (
  "100": #4300c3,
  "200": #5b00d2,
  "300": #6a00d7,
  "400": #7906df,
  "500": #8410e6,
  "600": #9946eb,
  "700": #ac6cef,
  "800": #c499f3,
  "900": #dcc2f7
);
