@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Light.woff2") format("woff2");
  font-weight: map.get($font-weight, "light");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: map.get($font-weight, "regular");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: map.get($font-weight, "bold");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Black.woff2") format("woff2");
  font-weight: map.get($font-weight, "black");
  font-style: normal;
  font-display: swap;
}

.sanhaua {
  font-family: $font-family !important;
}
