@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sanhaua {
  font-family: $font-family !important;
}
