.sanhaua {
  .ua-select {
    display: flex;
    align-items: center;
    outline-width: map.get($border-width, "small");
    outline-style: solid;
    cursor: pointer;

    @include body-1;

    .field {
      flex: 1;
      width: 100%;
      min-width: 0;
      border: none;
      background: none;
      color: inherit;
      font: inherit;
      cursor: inherit;
      appearance: none;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .arrow {
      flex-shrink: 0;
      pointer-events: none;

      @include icon-4;
    }

    &.small {
      padding: spacing(1) spacing(2);
      gap: spacing(1);

      .icon {
        @include icon-3;
      }
    }

    &.medium {
      padding: spacing(2) spacing(3);
      gap: spacing(2);

      .icon {
        @include icon-2;
      }
    }

    &.large {
      padding: spacing(3) spacing(4);
      gap: spacing(2);

      .icon {
        @include icon-1;
      }
    }

    &.square {
      border-radius: map.get($border-radius, "micro");
    }

    &.round {
      border-radius: map.get($border-radius, "pill");
    }

    &.auto {
      width: inherit;
    }

    &.full {
      width: 100%;
    }

    &:focus-within {
      outline-width: map.get($border-width, "medium");
      outline-offset: calc(-1 * map.get($border-width, "small"));
      outline-style: solid;

      .field {
        outline: none;
      }
    }
  }

  &.light {
    .ua-select {
      background-color: map.get($color-neutral-light, "100");
      color: map.get($color-neutral-light, "900");

      option {
        background-color: map.get($color-neutral-light, "100");
        color: map.get($color-neutral-light, "900");
      }

      .arrow {
        color: map.get($color-neutral-light, "600");
      }

      &.neutral {
        outline-color: map.get($color-neutral-light, "900");
      }

      &.success {
        outline-color: map.get($color-success-light, "600");
      }

      &.error {
        outline-color: map.get($color-danger-light, "600");
      }
    }
  }

  &.dark {
    .ua-select {
      background-color: map.get($color-neutral-dark, "100");
      color: map.get($color-neutral-dark, "900");

      option {
        background-color: map.get($color-neutral-dark, "100");
        color: map.get($color-neutral-dark, "900");
      }

      .arrow {
        color: map.get($color-neutral-dark, "600");
      }

      &.neutral {
        outline-color: map.get($color-neutral-dark, "900");
      }

      &.success {
        outline-color: map.get($color-success-dark, "600");
      }

      &.error {
        outline-color: map.get($color-danger-dark, "600");
      }
    }
  }
}
